{% extends "layout.html" %}

{% block content %}
test content for forms
<form method="POST">
    {% csrf_token %}
    <div class="text-black bg-white inline-flex rounded-md px-2 py-1">{{form.as_p}}</div>
    <button class="py-1 px-2 bg-blue-600 hover:bg-blue-700 rounded-md" type="submit">Search Store</button>
</form>

{% if stores  %}
    <h2>Stores available</h2>
    <ul>
        {% for store in stores  %}
            <li>{{store.name}} - {{store.location}}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock  %}